<!-- <div class="container"> -->
    <!-- <h1>
        Welcome to {{ title }}!
    </h1>
    <app-servers></app-servers>
    <app-warningAlert></app-warningAlert>
    <app-successAlert></app-successAlert>
    <app-assigment></app-assigment>
    <app-assignment3></app-assignment3> -->

    <!-- DATA BINDING -->
    <!-- <app-cockpit
      (serverCreated)="onServerAdded($event)"
      (bpCreated)="onBlueprintAdded($event)"
      ></app-cockpit>
    <hr>
    <div class="row">
      <div class="col-xs-12">
        <button class="btn btn-primary" (click)="onChangeFirst()">Change first Element</button>
        <button class="btn btn-danger" (click)="onDestroyFirst()">Destroy first Element</button>
        <app-server-element
          *ngFor="let serverElement of serverElements"
          [srvElement]="serverElement"
          [name]="serverElement.name">
          <p #contentParagraph>
            <strong *ngIf="serverElement.type === 'server'" style="color: red">{{ serverElement.content }}</strong>
            <em *ngIf="serverElement.type === 'blueprint'">{{ serverElement.content }}</em>
          </p>
        </app-server-element>
      </div>
    </div>
  </div> -->

  <!-- ASSIGNMENT 4: Practicing Property & Event Binding and View Encapsulation -->
  <!-- <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <h3>Bind it!</h3>
          <ol>
            <li>Create three new components: GameControl, Odd and Even</li>
            <li>The GameControl Component should have buttons to start and stop the game</li>
            <li>When starting the game, an event (holding a incrementing number) should get emitted each second (ref = setInterval())</li>
            <li>The event should be listenable from outside the component</li>
            <li>When stopping the game, no more events should get emitted (clearInterval(ref))</li>
            <li>A new Odd component should get created for every odd number emitted, the same should happen for the Even Component (on even numbers)</li>
            <li>Simply output Odd - NUMBER or Even - NUMBER in the two components</li>
            <li>Style the element (e.g. paragraph) holding your output text differently in both components</li>
          </ol>
        </div>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-xs-12">
        <app-game-control (intervalFired)="onIntervalFired($event)"></app-game-control>
      </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
          <app-odd
            *ngFor="let oddNumber of oddNumbers"
            [number]="oddNumber"></app-odd>
          <app-even
            *ngFor="let evenNumber of evenNumbers"
            [number]="evenNumber"></app-even>
        </div>
      </div> -->


<!-- DIRECTIVES DEEP DIVE -->
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <button
        class="btn btn-primary"
        (click)="onlyOdd = !onlyOdd">Only show odd numbers</button>
      <br><br>
      <ul class="list-group">
        <div *ngIf="onlyOdd">
          <li
            class="list-group-item"
            [ngClass]="{'odd': odd % 2 !== 0}"
            [ngStyle]="{'backgroundColor': odd % 2 !== 0 ? 'yellow' : transparent}"
            *ngFor="let odd of oddNumbers">
            {{ odd }}
          </li>
        </div>

        <!-- <div *ngIf="!onlyOdd">
          <li
            class="list-group-item"
            [ngClass]="{'odd': even % 2 !== 0}"
            [ngStyle]="{'backgroundColor': even % 2 !== 0 ? 'yellow' : transparent}"
            *ngFor="let even of evenNumbers">
            {{ even }}
          </li>
        </div> -->

        <!--
        ===== STRUCTURAL DIRECTIVES behind de scene(replace *ngIf with <ng-template [ngIf]="...">): =====
        <ng-template [ngIf]="!onlyOdd">
          <div>
            <li
              class="list-group-item"
              [ngClass]="{'odd': even % 2 !== 0}"
              [ngStyle]="{'backgroundColor': even % 2 !== 0 ? 'yellow' : transparent}"
              *ngFor="let even of evenNumbers">
              {{ even }}
            </li>
          </div>
        </ng-template> -->

        <!-- CUSTOM STRUCTURAL DIRECTIVE -->
        <div *appUnless="onlyOdd">
            <li
              class="list-group-item"
              [ngClass]="{'odd': even % 2 !== 0}"
              [ngStyle]="{'backgroundColor': even % 2 !== 0 ? 'yellow' : transparent}"
              *ngFor="let even of evenNumbers">
              {{ even }}
            </li>
          </div>

      </ul>
      <p appBasicHighlight>Style me with basic directive!</p>
      <!-- <p [appBetterHighlight]="'red'" [defaultColor]="'yellow'">Style me with better directive!</p> -->
      <p [appBetterHighlight]="'red'" defaultColor="yellow">Style me with better directive!</p>
      <div [ngSwitch]="value">
        <p *ngSwitchCase="5">Value is 5</p>
        <p *ngSwitchCase="10">Value is 10</p>
        <p *ngSwitchCase="100">Value is 100</p>
        <p *ngSwitchDefault="">Value is Default</p>
      </div>
    </div>
  </div>
</div>




<!-- =========== SERVICES =========== -->
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <app-new-account (accountAdded)="onAccountAdded($event)"></app-new-account>
      <hr>
      <app-account
        *ngFor="let acc of accounts; let i = index"
        [account]="acc"
        [id]="i"
        (statusChanged)="onStatusChanged($event)"></app-account>
    </div>
  </div>
</div>








