<div class="container">
    <!-- <h1>
        Welcome to {{ title }}!
    </h1>
    <app-servers></app-servers>
    <app-warningAlert></app-warningAlert>
    <app-successAlert></app-successAlert>
    <app-assigment></app-assigment>
    <app-assignment3></app-assignment3> -->

    <!-- DATA BINDING -->
    <app-cockpit
      (serverCreated)="onServerAdded($event)"
      (blueprintCreated)="onBlueprintAdded($event)"
      ></app-cockpit>
    <hr>
    <div class="row">
      <div class="col-xs-12">
        <app-server-element
          *ngFor="let serverElement of serverElements"
          [srvElement]="serverElement"></app-server-element>
      </div>
    </div>
  </div>

