<hr>
<ol>
    <label>Assigment 3</label>
    <li>Add A button which says 'Display Details'</li>
    <li>Add a paragraph with any content of your choice (e.g. 'Secret Password = tuna')</li>
    <li>Toggle the displaying of that paragraph with the button created in the first step</li>
    <li>Log all button clicks in an array and output that array below the secret paragraph (maybe log a timestamp or
        simply an incrementing number)</li>
    <li>Starting at the 5th log item, give all future log items a blue background (via ngStyle) and white color
        (ngClass)</li>
</ol>
<br>
<!-- <button class="btn btn-primary" (click)="showDetails = !showDetails"> -->
<button class="btn btn-primary" (click)="showClicks()">
    Display Details
</button>
<br>
<p *ngIf="showDetails">Secret Password = tuna</p>
<div *ngFor="let click of buttonClicks; let i = index"
    [ngStyle]="{backgroundColor: i >= 5 ? 'blue' : 'transparent'}"
    [ngClass]="{'white': i >= 5}">{{ click }}</div>